* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: $content-font;
    font-weight: 400;
    font-display: optional;
}

body {
    background-color: $content-bg-color;
    color: $content-fg-color;
}

h1 {
    font-size: 2rem;
    color: $header-color;
}

h2 {
    font-size: 1.2rem;
    color: $header-color;
}

h2, h3 {
    margin-top: 2rem;
}

a {
    font-weight: 700;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 85%;
}

blockquote {
    background: $quote-bg-color;
    border-left: 1rem solid $border-color;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

div.container {
    position: relative;
    min-height: 100%;
}

section.sidebar {
    position: relative;
    padding: 0.5rem 1rem 2rem 1rem;
}

section.sidebar, section.footer {
    background-color: $sidebar-bg-color;
    color: $sidebar-fg-color;
    text-align: center;
    border-bottom: 0.5em solid $highlight-color;
}

section.footer {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    font-size: 0.5em;
}

.sidefooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.5em;
    padding: 1rem;
    display: none;
}

.homelink {
    color: $sidebar-link-color;
    text-decoration: none;
    font-size: 2em;
    font-family: $content-font;
    font-variant: small-caps;
    font-display: optional;
}

    .homelink:hover {
        text-decoration: none;
    }

.sidemenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidemenu div {
    width: 100%;
    background-color: $highlight-color;
    padding: 0.5em;
    margin: 0 0.2em;
}

.sidemenu a {
    color: $sidebar-link-color;
    text-decoration: none;
}

nav {
    text-align: center;
    margin: 2rem 0;
}

nav a {
    font-weight: 700;
    padding: .2em 1em;
}

section.content {
    padding: 2rem 2rem 6rem 2rem;
    text-align: justify;
}

.content a {
    color: $highlight-color;
    text-decoration: none;
}

    .content a:hover {
        text-decoration: underline dotted;
    }

.content table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.8em;
}

    .content table tr {
        background-color: $table-bg-color;
        border-top: 1px solid $border-color;
    }

        .content table tr:nth-child(2n) {
            background-color: $table-bg-color-alt;
        }

    .content table td, .content table th {
        border: 1px solid $table-border-color-header;
        padding: 0.4em 0.6em;
    }

.breaker {
    clear: both;
}

.blog-post-meta {
    margin-top: -1rem;
    font-size: 0.6em;
    color: $content-metadata-color;
}

    .blog-post-meta div {
        margin-right: 1rem;
        float: left;
    }

.blog-post-contents {
    margin-top: 2rem;
}

.blog-post-preview {
    margin-top: -0.6rem;
    margin-bottom: 2rem;
}

.blog-nav {
    border-top: 1px solid $border-color;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-size: 0.8em;
}

.blog-nav-left {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 2rem;
}

.blog-nav-right {
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 2rem;
}

code {
    font-family: $code-font;
    font-weight: 400;
    font-size: 0.7rem;
    font-optical-sizing: auto;
}

pre code.hljs {
    display: block;
    padding: 0.5em 1em;
    border-left: 1rem solid $border-color; 
}

code.hljs {
    display: inline;
    padding: 0.1em;
}

p code {
    padding: 0.1em 0.3em;
}

@media (min-width: 24em) {
    blockquote, pre {
        margin: 1rem;
    }

    pre {
        padding: 0.3rem;
    }
}

@media (min-width: 36em) {
    html, body {
        font-size: 20px;
    }
}

@media (min-width: 46em) {
    html, body {
        font-size: 24px;
    }
}

@media (min-width: 56em) {
    html, body {
        font-size: 18px;
    }

    section.sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 18rem;
        background-position: bottom;
        background-repeat: repeat-x;
        border-right: 0.5rem solid $highlight-color;
        border-bottom: none;
        padding: 1rem;
    }

    section.footer {
        display: none;
    }

    .sidefooter {
        display: block;
    }

    section.content {
        margin: 0 2rem 0 20rem;
        padding: 2rem;
    }

    .sidemenu {
        display: flex;
        flex-direction: column;
    }

    .sidemenu div {
        margin: 0.2em 0;
    }
}

@media (min-width: 70em) {
    html, body {
        font-size: 20px;
    }
}

@media (min-width: 84em) {
    html, body {
        font-size: 24px;
    }
}
