// color
$content-bg-color: #282c34;
$content-fg-color: #ABB2BF;
$content-metadata-color: #5C6370;
$sidebar-bg-color: #21252b;
$sidebar-fg-color: #ABB2BF;
$sidebar-link-color: #d8d8d8;

$highlight-color: #61AFEF;
$border-color: #ABB2BF;
$header-color: #d8d8d8;

$quote-bg-color: #2C323C;

$table-bg-color: #2C323C;
$table-bg-color-alt: $quote-bg-color;
$table-border-color-header: #282c34;

// fonts
$content-font: 'Lato', sans-serif;
$code-font: 'Source Code Pro', monospace;
