// color
$content-bg-color: #fffef8;
$content-fg-color: #456;
$content-metadata-color: #a7a7a7;
$sidebar-bg-color: #272727;
$sidebar-fg-color: #b4aaaa;
$sidebar-link-color: #d8d8d8;

$highlight-color: #c35;
$border-color: #ccc;
$header-color: #171717;

$quote-bg-color: #f8f8f8;

$table-bg-color: #fff;
$table-bg-color-alt: $quote-bg-color;
$table-border-color-header: #ddd;

// fonts
$content-font: 'Lato', sans-serif;
$code-font: 'Source Code Pro', monospace;
